<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/head.css" rel="stylesheet">
<link href="/static/js/OwlCarousel2/dist/assets/owl.carousel.min.css" rel="stylesheet">
<link href="/static/js/OwlCarousel2/dist/assets/owl.theme.default.min.css" rel="stylesheet">
<link href="/static/js/responsive-nav.js/responsive-nav.css" rel="stylesheet">
<link href="/static/js/tooltipste/dist/css/tooltipster.bundle.min.css" rel="stylesheet">
<link href="/static/js/tooltipste/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css" rel="stylesheet">
<link href="/static/js/select/css/customSelect.jquery.css" rel="stylesheet">
<link href="/static/css/index.css" rel="stylesheet">
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/responsive-nav.js/responsive-nav.min.js"></script>
<script src="/static/js/OwlCarousel2/dist/owl.carousel.min.js"></script>
<script src="/static/js/tooltipste/dist/js/tooltipster.bundle.min.js"></script>
<script src="/static/js/select/js/customSelect.jquery.min.js"></script>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="left">
          <img class="logo" src="/static/img/logo.png">
      </div>
      <div class="right">
          <img src="/static/img/user-fill.svg" class="userPhoto">
      </div>
    </div>
  </nav>

  <div class="firBlock">
    <div class="container">
       <div class="resent">
          <div class="secContainer">
            <div class="head">
              <h1>xx学年成绩报告</h1>
            </div>
            <div class="bottom">
              <h2>查看报告</h2>
            </div>
          </div>
        </div>
      
        <div class="userIfo">
          <div class="secContainer">
            <div class="head">
              <img src="/static/img/user-line.svg">
            </div>
            <div class="body">
              <h2>用户名</h2>
              <h3>学院</h3>
              <span>xxxx界专业班级</span>
              <h4>学号xxxxxxxx</h4>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="thiBlock">
    <div class="container">
      <div class="left">
        <h2 class="title">历次成绩报告</h2>
        <div class="choice">
          <div class="select">
            <select id="single" class="form-control form-control-chosen" data-placeholder="请选择要查看的考试">
              <option>第一学期</option>
              <option>第二学期</option>
            </select>
          </div>
          <button class="btn">查看</button>
        </div>
      </div>
      <div class="right">
        <img class="img" src="/static/img/600x400.png">
      </div>
    </div>
  </div>

  <div class="forBlock">
    <div class="container">
      <div class="left">
          <img class="img" src="/static/img/600x400.png">
      </div>
      <div class="right">
        <h2 class="title">班级报告</h2>
        <div class="choice">
            <div class="select">
              <select id="single" class="form-control form-control-chosen" data-placeholder="请选择要查看的考试">
                <option>第一学期</option>
                <option>第二学期</option>
              </select>
            </div>
            <button class="btn">查看</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    /*
    $.ajax({
      url:"/index",
      success:function(data){
            alert(data);
      }
    });
    */
    //选择框
    
  </script>
</body>
</html>