<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
    <script src="/static/js/jquery-1.11.0.min.js"></script>
</head>
<body>
  <script>
    $.ajax({
        type: "get",
        url: "/self",
        data: "username=031799101&term=1&parameter=report_card",
        dataType: "json",
        success: function (response) {
            console.log(response);
            console.log("aaa");
            console.log(response[0]);

        },
    });
  </script>
</body>
</html>