<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <title>搜索结果</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
          <div class="left">
              <img class="logo" src="/static/img/100x100.png">
          </div>
          <ul class="center">
            <li><a href="#">菜单1</a></li>
            <li><a href="#">菜单2</a></li>
            <li><a href="#">菜单3</a></li>
            <li><a href="#">菜单4</a></li>
          </ul>
          <div class="right">
              <img src="/static/img/user-fill.svg" class="userPhoto">
          </div>
        </div>
    </nav>
    
    <div class="title">
        <div class="container">
            <h1 class="result">搜索结果</h1>
        </div>
    </div>

    <div class="resultList">
        <div class="container">
            <!--
            <div class="good">
                <div class="add">加入购物车</div>
                <img class="img" src="/product_image/双面羊绒大衣.jpg">
                <div class="name">商品名称</div>
                <div class="prise">
                    <div class="prise-num">998</div>
                    <div class="prise-word">元</div>
                </div>
                <span class="introduction">
                    介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍
                </span>
            </div>
            -->
        </div>
    </div>

    <div class="page">
        <div class="container">
            <!--
            <button class="pagebtn page-1">1</button>
            <button class="pagebtn page-2">2</button>
            <button class="pagebtn page-3">3</button>
            <button class="pagebtn page-4">4</button>
            -->
        </div>
    </div>
</body>
<script>
    //获取url参数
    var url = location.search;
    //console.log(url.indexOf("?"));
    var status1 = new Object(); 
    if(url.indexOf("?") != -1){
        var str = url.substr(1);
        var strs = str.split("&");
        for(var i=0;i<strs.length;i++){
            var a = strs[i].split("=");
            status1[a[0]] = a[1];
        }
        console.log(status1["wcnmdhhl"]);
    }
    
    /*
    //获取当前页数
    var pagenum = searchCookie("pageSearch");
    //console.log(pagenum); 

    //总页数
    var totalPage;
    $.ajax({
        type:"get",
        url:"php_files/search_totalpage.php",
        data:"keywords="+searchCookie("keyword"),
        success:function(msg){
            totalPage = parseInt(msg);
            //创建分页
            //console.log(totalPage);
            createPage(totalPage);
            //console.log($(".page-"+pagenum)[0]);
            $(".page-"+pagenum).addClass("focus");
            $(".pagebtn").click(function(){
                addCookie("page",this.innerHTML)
                //console.log(this.innerHTML);
                pagenum = parseInt(this.innerHTML);
                $(".good-container").html("");
                $(".pagebtn").removeClass("focus");
                searchGood();
                $(".page-"+pagenum).addClass("focus");
                
            })
        },
        error:function(xml){
            console.log(xml.status);
        },
    })
    */
</script>
</html>